<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiendita</title>
    <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    {% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Jobnest</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Info Sesion
                        </a>
                        <ul class="dropdown-menu">

                            {% if user.is_authenticated %}
                            <li class="nav_item">
                                <a class="nav-link text-primary" href="#">Usuario: <b>{{ user.username }}</b></a>
                            </li>
                            <li class="nav_item">
                                <a class="nav-link text-danger" href="/accounts/login/">Cerrar Sesion</b></a>
                            </li>
                            {% else %}
                            <li class="nav_item">
                                <a class="nav-link text-primary" href="{% url 'login' %}">Iniciar Sesion</b></a>
                            </li>
                            {% endif %}
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <!-- Contenido Principal -->
    <div class="container my-5">
        {% block contenido %}
        <!-- Aquí irá el contenido específico de cada página -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            {% block footer %}
            <!-- Aquí irá el contenido del pie de página -->
            {% endblock %}
        </div>
    </footer>

    {% block js %}
    
    {% endblock %}
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
